*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--beige);
    font-family: var(--body);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;/* pousse le footer vers le bas si contenu trop petit */
    padding: 0 20px;
}

/*Textes*/ 


h1 {
    font-family: var(--header-1);
    font-size: var(--tres-gros) ;
    font-weight: 400;
    display: flex;
    justify-content: center; /*Centrage horizontal */
    align-items: center;
}

.slogan {
    font-family: var(--slogan);
    font-size: var(--slogan-t);
    color: var(--violet);
    box-shadow: inset;
}

h2 {
    font-family: var(--header-2);
    font-size: var(--gros);
    display: flex;
    justify-content: center; /*Centrage horizontal */
    align-items: center;
}

.bouton_texte {
    font-family: var(--body-2);
    font-size: var(--body);
}

.plus_info {
    font-family: var(--body-2);
    font-size: var(--body-2-t);
    font-weight: 600;
}


/*Création de bloc*/

.btn_orange{
    font-family: var(--body);
    font-size: var(--semi-text);
    background-color: var(--orange);
    color: var(--noir);
    padding: 16px 36px; /* Hauteur et largeur du bouton */
    border: none;
    border-radius: 8px; /* Légers coins arrondis*/
    cursor: pointer;
    position: relative; /* Positionner l'image par rapport au bouton */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.billetterie{
    position: relative; 
    display: inline-block; /* Pour que le conteneur s'adapte à la taille du bouton */
    height: auto;
    padding-left: 80px;
    margin-top: 50px; /* espace avec le texte du haut */
    margin-bottom: 70px;
}

.billetterie img {
    position: absolute;
    left: -10px; /* Effectue le décalage à gauche*/
    top: 50%; /* Centre verticalement */
    transform: translateY(-50%); /* Meilleur centrage */
    width: 130px;
    height: auto;
    pointer-events: none;
}


.news /*Créer les blocs*/
{
}

.bouton /*Créer la mise en page*/{

}





/*Enlever le soulignement*/

.main a {
    text-decoration: none; 
    color: inherit; 
}

/*Réinitialisation des styles par défaut*/

button,
input,
select,
textarea {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}


