*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--beige);
    font-family: var(--body);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;/* pousse le footer vers le bas si contenu trop petit */
    padding: 0 20px;
}

/*Textes*/ 


h1 {
    font-family: var(--header-1);
    font-size: var(--tres-gros) ;
    font-weight: 400;
    display: flex;
    justify-content: center; /*Centrage horizontal */
    align-items: center;
}

h2 {
    font-family: var(--header-2);
    font-size: var(--gros);
    display: flex;
    justify-content: center;
    /*Centrage horizontal */
    align-items: center;
}

.slogan {
    font-family: var(--slogan);
    font-size: var(--slogan-t);
    color: var(--violet);
    box-shadow: inset;
}

.slogan_vert{
    font-family: var(--slogan);
        font-size: var(--slogan-t);
        color: var(--vert);
        box-shadow: inset;
}

.bouton_texte {
    font-family: var(--body-2);
    font-size: var(--body-t);
}

.plus_info {
    font-family: var(--body-2);
    font-size: var(--body-2-t);
    font-weight: 600;
}

.texte_violet {
    font-family: var(--semi-text);
    font-size: var(--semi-text-t);
    color: var(--violet);
    font-weight: 600;
    margin: 0 0 16px 0;
    line-height: 1.2;
}

.sous_titre_violet{
    font-family: var(--header-2);
    font-size: var(--text-med);
    color: var(--violet);
    margin: 0 0 40px 0;
    margin-top: 40px;
}

.sous_titre_vert{
    font-family: var(--header-2);
    font-size: var(--text-med);
    color: var(--vert);
    margin: 0 0 40px 0;
    margin-top: 40px;
}

.sous_sous_titre_gras{
    font-family: var(--body-2);
    font-size: var(--semi-text-t);
    font-weight: 900;

}

.text_gras{
    font-family: var(--body-2);
    font-size: var(--semi-text-t);
    font-weight: 900;
    
}

/*Présentation équipe*/ 

.team {
    max-width: 1000px;
    margin: 80px auto;
    padding: 0 20px;
}

.team-member {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 80px;
}

.team-photo {
    width: 170px;
    height: 160px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 12px;
}

.team-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-desc {
    font-family: var(--body);
    font-size: var(--body-t);
    color: var(--noir);
    margin: 0 0 24px 0;
    line-height: 1.6;
}

.team-name {
    font-family: var(--body);
    font-size: var(--semi-text);
    color: var(--noir);
    font-weight: 600;
    margin: 0;
    bottom: 5px;
    margin-left: -450px;
}


/*Création billetterrire*/

.btn_orange{
    font-family: var(--body);
    font-size: var(--semi-text);
    background-color: var(--orange);
    color: var(--noir);
    padding: 16px 36px; /* Hauteur et largeur du bouton */
    border: none;
    border-radius: 8px; /* Légers coins arrondis*/
    cursor: pointer;
    position: relative; /* Positionner l'image par rapport au bouton */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.billetterie{
    position: relative; 
    display: inline-block; /* Pour que le conteneur s'adapte à la taille du bouton */
    height: auto;
    padding-left: 80px;
    margin-top: 50px; /* espace avec le texte du haut */
    margin-bottom: 70px;
}

.billetterie img {
    position: absolute;
    left: -10px; /* Effectue le décalage à gauche*/
    top: 50%; /* Centre verticalement */
    transform: translateY(-50%); /* Meilleur centrage */
    width: 130px;
    height: auto;
    pointer-events: none;
}

/*Création actualité*/

.news {
    background-color: var(--orange);
    padding: 50px 50px 50px 160px; /* padding gauche pour l'image */
    margin-bottom: 40px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    min-height: 220px;
    gap: 60px;
}

.news img {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 220px;
    height: auto;
    pointer-events: none;
}

.text-content {
    color: var(--noir); 
}

.bouton {
    font-family: var(--body);
    font-size: var(--semi-text); 
    font-weight: 900;
    color: var(--noir);
    margin: 0 0 12px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.1;
    margin-left: 80px;
}

.bouton_texte {
    font-family: var(--body);
    font-size: var(--body-t);
    color: var(--noir);
    margin: 0 0 30px 0;
    line-height: 1.5;
    max-width: 390px;
    margin-left: 80px;
}

.plus_info {
    font-family: var(--semi-text);
    font-size: var(--body-2-t);
    font-weight: 800;
    background-color: var(--orange-jaune);
    color: var(--noir);
    padding: 14px 12px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 14px;
    white-space: nowrap;
    margin-left: 80px;
}

.plus_info img {
    width: 28px;
    height: auto;
    margin-left: 200px;
}

/*Création scène*/

.scene-block {
    max-width: 900px;
    margin: 80px auto;
    padding: 40px 20px;
    text-align: center;
}

.scene-img {
    width: 100%;
    max-width: 800px;
    height: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.scene-btn {
    background-color: var(--orange-jaune);
    color: var(--noir);
    font-family: var(--body);
    font-size: var(--body-t);
    font-weight: bold;
    padding: 16px 40px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    transition: all 0.3s ease;
}

.scene-btn:hover {
    transform: translateY(-3px);
}

.scene-btn img {
    width: 32px;
    height: auto;
}

/*Enlever le soulignement*/

.main a {
    text-decoration: none; 
    color: inherit; 
}

/*Réinitialisation des styles par défaut*/

button,
input,
select,
textarea {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

/*Caroussel*/

.carousel {
    position: relative;
    max-width: 1200px;
    margin: 60px auto;
    padding: 60px 80px 100px 80px;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    align-items: center;
    gap: 80px;
    transition: transform 0.6s ease-in-out;
}

.carousel-track img {
    height: 90px;
    width: auto;
    flex-shrink: 0;
    object-fit: contain;
}

.carousel-controls {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 50px;
    z-index: 10;
}

.carousel-btn {
    background: none;
    border: none;
    font-size: 50px;
    color: black;
    padding: 0;
}

.carousel-btn:hover {
    opacity: 0.7;
}

/*Artistes*/

.voir_artiste{
    background-color: var(--orange-jaune);
    color: var(--noir);
    font-family: var(--body);
    font-size: var(--body-t);
    font-weight: bold;
    padding: 14px 28px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-left: auto;
    align-self: flex-start;
}

.artiste-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.voir_artiste:hover {
    background-color: var(--orange-jaune);
    transform: translateY(-3px); /* petit soulèvement */
    box-shadow: 0 10px 20px rgba(255, 140, 0, 0.3);
}

.voir_artiste:hover::after {
    left: 100%;
}

.artiste-card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 16px;
    align-self: flex-start;
    margin-right: auto;
}

/*Scène sud*/

.voir_scene {
    background-color: var(--orange-jaune);
    color: var(--noir);
    font-family: var(--body);
    font-size: var(--body-t);
    font-weight: bold;
    padding: 14px 28px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-left: auto;
    align-self: flex-start;
}

.scene_sud_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.voir_scene:hover {
    background-color: var(--orange-jaune);
    transform: translateY(-3px);
    /* petit soulèvement */
    box-shadow: 0 10px 20px rgba(255, 140, 0, 0.3);
}

.voir_scene:hover::after {
    left: 100%;
}

.scene_sud-card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 16px;
    align-self: center;
    margin-left: 0;

}

/*Lieber*/

.membre img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-top: 30px;
}

.gallerie {
    display: grid;
    grid-template-columns: 1fr 1fr; /* deux colonnes égales */
    gap: 20px; /* espace entre les photos */
    max-width: 700px;
    margin: 0 auto;
}

.gallerie img {
    width: 100%;
    height: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.info{
    background-color: var(--orange);
    color: var(--noir);
    padding: 16px 24px;
    border-radius: 16px;
    font-family: var(--body);
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 0 4px 15px rgba(255, 140, 0, 0.2);
}