/* Variable collection */
:root {
    /* Mode 1 */
    /* color */
    --beige: #f9e8d1;
    --noir: #1f1d1d;
    --orange: #e66018;
    --orange-clair: #f78547;
    --orange-jaune: #ffab02;
    --vert: #4dc95b;
    --violet: #b151ff;
    --gris: #747474;
    


/*Variable test*/
--space-2x: 0.5rem; /* 8px */
--space-3x: 1.25rem; /* 20px */







}
