/* Variable collection */
:root {
    /* color */
    --beige: #f9e8d1;
    --noir: #1f1d1d;
    --orange: #e66018;
    --orange-clair: #f78547;
    --orange-jaune: #ffab02;
    --vert: #4dc95b;
    --violet: #b151ff;
    --gris: #747474;

/* fnt-size */
    --body-2-t: 0.75rem;
    --body-t: 0.875rem;
    --semi-text-t: 1rem;
    --nom-festival-t: 1.25rem;
    --nom-festival-2: 1.5rem;
    --slogan-t: 2rem;
    --text-med: 2rem;
    --gros: 2.25rem;
    --text-big: 2.5rem;
    --tres-gros: 3rem;


/* font-name */
    --body: 'Inter';
    --body-2: 'Inter';
    --header-1: 'Blaka Hollow';
    --header-2: 'Jacques Francois Shadow';
    --nom-festival: 'Orbitron';
    --semi-text: 'Inter';
    --slogan: 'Bebas Neue';
    --sm-uppercase : 'Montserrat'
}

