.footer {
    background: var(--gris) url("assets\icone\Logo.svg") no-repeat center center;
    background-size: cover;
    padding: 5px 0px;
    color: var(--noir);
    flex-shrink: 0;
    width: 100;
}

.footer_ensemble {
    display: flex;
    justify-content: space-between; /* un à gauche, un à droite */
    align-items: center; /* alignement vertical */
}

.footer_nav {
    padding-left: 30px;
    font-family: var(--sm-uppercase);
}

.footer_rs{
    font-family: var(--sm-uppercase);
    padding-right: 30px;
}

.footer_rs img {
margin-left: 10px;
}

/*Enlever le soulignement*/
.footer a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto; /* pousse le footer en bas */
    padding: 60px 20px 40px;/* un peu d’air en haut et en bas */
    text-align: center;
}


