.header_container {
    /* position: fixed; */
    z-index: 2;
    background-color: var(--noir) ;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.header__end {
    display: flex;
    align-items: center;
    gap: 20px;
}


