
.menu {
    position: fixed;
    top: 58px;
    right: 356px;
    width: 100vw;/* largeur = 100% de la fenêtre */
    height: 100vh;/* hauteur = 100% de la fenêtre */
    background-color: var(--orange-jaune);
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
    z-index: 5;
    padding: 20px;/* espace intérieur tout autour */
}

/* Menu ouvert */
.menu[aria-hidden="false"] {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/*Bloquer le scroll*/
.noscroll {
    overflow: hidden;
}

/* Bouton du menu */
.menu-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 3;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Images du bouton */
.menu-btn img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Icône menu fermé visible par défaut */
.menu-btn .menu_fermé {
    opacity: 1;
}

/* Quand menu ouvert → afficher icône ouverte */
.menu-btn[aria-expanded="true"] .menu_fermé {
    opacity: 0;
}

.menu-btn[aria-expanded="true"] .menu_ouvert {
    opacity: 1;
}

/*Enlever le soulignement*/
.menu a {
    text-decoration: none;
    color: inherit;
}

.menu__item{
    font-family: var(--header-2);
}
