/*   
Le fichier style.css aggrège l'ensemble du code css, 
découpé en différents fichiers correspondant à aux composants de l'interface
La règle @import permet d'importer ici tous les fichiers css utilisés.
Soyez attentifs à l'ordre d'import :
  1. Les libraries (Vendors)
  2. Les variables (Utils)
  3. Les règles générales (Base)
  4. Les règles de composition (Layout)
  5. Les composant d'interface (Components)
*/

/* Vendors */
@import "vendors/normalize.css";

/* Utils */
@import "utils/variables.css";

/* Base */
@import "base/main.css";
@import "base/media.css";

/* Layout */
@import "layout/header.css";
@import "layout/footer.css";

/* Components */
@import "components/menu.css";
@import "components/hero.css";